{% extends '../base.html' %}

{% block title %}{{ settings.get('apply_title') }} | {% end %}

{% block body_class %}jobs{% end %}

{% block content %}
<div id="main" role="main" class="apply">
	
	<div class="row">
		<div class="col-sm-4">
			<h1>
				{{ settings.get('apply_title') }}
			</h1>
			<p class="text-muted step">(step 1 of {{ str(len(global_data["VIDEOS"]) + 1) }})</p>
			<div class="pic-container">
				<span class="pic-frame"></span>
				<img src="http://katieandjasonsayido.com/images/kneeling.jpg" class="main-pic">
			</div>
		</div><!-- /.col -->
		<div class="col-sm-8">
			<div class="alert alert-success">
				<b>
					Welcome!<br/><br/>
					{{ settings.get("STRING_WELCOME") }}
				</b>
			</div>
			
			<p>
				<b>HOW TO PARTICIPATE:</b>
				<ul>
					<li>We are collecting a photo and a brief video (90 seconds or less) from Katie and Jason’s friends and family (including those not able to attend the wedding).</li>
					<li>The video topic is <b>“What do you think the secret is to a long, happy marriage/relationship?”</b> *Note: Your message can be serious and deep, funny and lighthearted, or both.</li>
					<li>The pictures and videos will be presented to Katie and Jason in a very unique way at the Welcome Dinner, but will not be shown publicly.</li>
					<li>If at any time you have difficulty recording your video, or uploading your pic and video, please contact Ron or Jeff Rudderman:
						<ul>
							<li><a href="mailto:ronrudderman@gmail.com">ronrudderman@gmail.com</a> - <a href="tel:9543288800">954.328.8800</a></li>
							<li><a href="mailto:jeff.rudderman@gmail.com">jeff.rudderman@gmail.com</a> - <a href="tel:9546634412">954.663.4412</a></li>
						</ul>
					</li>
				</ul>
			</p>
			<p>
				<span class="step">STEP 1: Complete The Form Below</span>
				<p>Fill out the form below.</p>
			</p>
			<p>
				<span class="step">STEP 2: Upload Photo</span>
				<p>Please upload a photo of you, you and your spouse or significant other, or your family (whomever your message is from). This should be a relatively current photo. A casual, fun photo is perfect, or if you prefer to provide something more formal, that’s ok too. (Please make sure the faces are easy to see).</p>
			</p>
			<p>
				<span class="step">STEP 3: Upload Video</span>
				<p>Your 90 second video should be directed to Jason and Katie on this topic:</p>
			</p>
			<ul class="questions">
					<li>"What do you think the secret is to a long, happy marriage/relationship?"<br /><span class="text-muted">(up to a 90-second response)</span></li>
						<ul>
							<li>*Note: Your message can be serious and deep, funny and lighthearted, or both.</li>
						</ul>
			</ul>
			<p><ul>
				<li>You may record your video on your phone or pad (up to 90 secs), and upload it on the next page,<br /><b> - OR - </b></li>
				<li>You may use our video recorder if you are ready to record your video NOW from your computer, pad or phone. (Please make sure you're all set in a quiet, well lit space.)</li>
			</ul></p>
			<p>
				<span class="step">STEP 4: Submit</span>
			</p>

			<p>
				<i>Note: once you submit each section, you will be unable to return and edit your response in that section. If you wish to re-do a video that has been submitted, send an email and attach the revised video to: <a href="mailto:jeff.rudderman@gmail.com">jeff.rudderman@gmail.com</a>.</i>
			</p>
			<hr />
			<p>{{ settings.get("STRING_INTRO") }}</p>
			<style>
				.error {
					background-color: #FFDDDD;
					color: red;
				}
				.error-desc {
					display: none;
				}
				.error .error-desc {
					display: inherit;
				}
			</style>
			<form method="POST" action="/apply">
				<input type="hidden" name="state" value="0" />
				<table class="table">
					{% for field in global_data["FIELDS"] %}
						<tr class="{{ 'error' if field['name'] in errors else ''}}">
							<th>
								{{ field["label"] }} {{ '*' if field['required'] else '' }}
							</th>
							<td>
								{% if field['type'] == 'textarea' %}
									<textarea class="form-control" name="{{ field['name'] }}" placeholder="{{ field['placeholder'] }}">{{ form[field['name']] }}</textarea>
								{% elif field['type'] == 'file' %}
									{{ field['placeholder'] }}
									<input type="filepicker-dragdrop" name="{{ field['name'] }}" />
								{% elif field['type'] == 'checkbox' %}
									<input type="{{ field['type'] }}" name="{{ field['name'] }}" /> {{ field['placeholder'] }}
								{% else %}
									<input type="{{ field['type'] }}" class="form-control" name="{{ field['name'] }}" placeholder="{{ field['placeholder'] }}" value="{{ form[field['name']] }}" />
								{% end %}
								<p class="error-desc">
									{{ errors[field['name']] if field['name'] in errors else ''}}
								</p>
							</td>
						</tr>
					{% end %}
			        <tr>
			        	<th colspan="2">
			        		<input class="btn btn-large btn-primary pull-right" type="submit" value="Next" />
			        	</th>
			        </tr>
			    </table>
			    * Required fields
			</form>

			<p><small>
				{{ settings.get('STRING_BOTTOM') }}
			</small></p>
		</div><!-- /.col -->
	</div><!-- /.row -->
</div>
{% end %}


{% block javascript %}

{% end %}
