{% extends '../base.html' %}

{% block title %}{{ settings.get('apply_title') }} | {% end %}

{% block body_class %}jobs{% end %}

{% block content %}
<div id="main" role="main" class="apply">
	<div class="row">
		<div class="col-sm-4">
			<h1>
				{{ settings.get('apply_title') }}
			</h1>
			<p class="text-muted step">(step {{ str(video_index + 1) }} of {{ str(len(global_data["VIDEOS"]) + 1) }})</p>
		</div><!-- /.col -->
		<div class="col-sm-8">
			<div id="intro" style="display:{{ 'none' if video_index != 1 else 'inherit' }}">
				<div class="alert alert-success">
					<b>Thanks!</b>
				</div>
				<p>Thanks! Now it’s time to record, <b>OR</b> upload your previously recorded video.</p>
				<ul>
					<li><b>Please keep your video to 90 seconds or less.</b></li>
					<li>Your topic again is:
						<li>“What do you think the secret is to a long, happy marriage/relationship?"</li>
						<li>*Remember: Your message can be serious and deep, funny and lighthearted, or both.</li>
					</li>
				</ul>
				<p> 
					Although your video will not be played publicly at any wedding events, Jason and Katie will hopefully keep these videos for years, and may choose to share them….so use discretion. Remember, they’re lawyers so anything you say may be used…....
				</p>
				<p><b>When you're ready, continue to the next screen where you can start the video recorder or upload your previously recorded video.</b></p>
				
				<div style="text-align:center">
					<a class="btn btn-large btn-primary" id="lets-go">Ready? Let's go</a>
				</div>

				</br>
				<p><small>
					{{ settings.get('STRING_BOTTOM') }}
				</small></p>
			</div><!-- /#intro -->

			<div id="apply-form-container" style="display:{{ 'none' if video_index == 1 else 'inherit' }}">
				<form method="POST" action="/apply" id="apply-form">		
					<input type="hidden" name="state" value="{{ video_index }}" />
					<div class="well interview-question">
						<h2>{{ global_data['VIDEOS'][video_index - 1]["question"] }}</h2>
						<p class="text-muted" style="font-size: 1.2em">(up to {{ global_data['VIDEOS'][video_index - 1]["limit"] }} seconds)</p>
					</div>
					<ziggeo ziggeo-tags="{{ submission["username"] }},question{{video_index}}"
						    ziggeo-limit={{ global_data['VIDEOS'][video_index - 1]["limit"] }}
						    ziggeo-input_bind="videotoken"
						    ziggeo-perms='allowupload'
						    {% if global_data['VIDEOS'][video_index - 1]["required"] %}
						    ziggeo-form_accept="#apply-form"
						    {% end %}
					></ziggeo>
					
					<div class="alert alert-info" id="superwarn" style="display:none;">
						<b>Great!</b> Note: once you hit "continue" you will not be able to come back to this question.
					</div>
					
					{% if not global_data['VIDEOS'][video_index - 1]["required"] %}
						<input class="btn btn-large pull-right" type="submit" value="Skip" id="skip" />
					{% end %}
					
					<input class="btn btn-large btn-primary pull-right" type="submit" value="Continue" id="submit" style="display:none" />
				</form>
			</div><!-- /.apply-form-container -->
		</div>
		
	</div><!-- /.row -->
</div>
{% end %}


{% block javascript %}
<script>
$(document).ready(function () {
	$('#lets-go').click(function(e) {
		e.preventDefault();
		$('#apply-form-container').slideDown();
		$('#intro').slideUp();
	});
	ZiggeoApi.Events.on("submitted", function () {
		 $("#skip").hide();
		 $('#superwarn').show();
		 $("#submit").show();
	});
	
	
});
</script>
{% end %}
